
.clouds {
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1612251276789-9b1a8f2add8b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80") ;
  position: fixed;
  min-height: 100%;
  min-width: 100% ;
  background-size: cover;
  background-position: center;
}

.rain {
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1512511708753-3150cd2ec8ee?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80") ;
  position: fixed;
  min-height: 100%;
  min-width: 100% ;
  background-size: cover;
  background-position: center;
 
}

.neutral{
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1617141870851-3e8c8c172595?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80") ;
  position: fixed;
  min-height: 100%;
  min-width: 100% ;
  background-size: cover;
  background-position: center;
  
}

.mist{
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1543968996-ee822b8176ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1856&q=80") ;
  position: fixed;
  min-height: 100%;
  min-width: 100% ;
  background-size: cover;
  background-position: center;
  
}

.snow{
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1477601263568-180e2c6d046e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
  position: fixed;
  min-height: 100%;
  min-width: 100% ;
  background-size: cover;
  background-position: center;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}


.icon{
  max-width: 100px;
  min-height: 100px;
}

.h1{
  font-size: 70px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .icon{
    max-width: 60px;
    min-height: 60px;
  }

}


